/* Custom Fonts */
@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Regular.ttf');
    font-weight: 400;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0, 50%);
    border-radius: 100vw;
    margin-block: .2em;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 1%, 73%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 92%);
}

/* Default CSS */

:root {
    --clr-primary-100: #FFFFFF;
    --clr-primary-200: #F3EBEB;
    
    --clr-neutral-400: #F4E4E4;
    --clr-neutral-600: #BFDBFE;
    --clr-neutral-900: #151516;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Kode Mono", monospace !important;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--clr-neutral-900) !important;
    color: #fff !important;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: normal;
}

h2 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: 0;
    background-color: transparent;
}

section {
    padding: 2rem 0;
    display: flex;
}

section:first-child {
    padding-top: 0;
}

.box {
    border: 2px solid yellow;
    margin-inline: auto;
    width: min(95%, 70.5rem);
}

/* NavBar CSS */

nav.navbar {
    padding: min(2rem, 3.5rem);
    padding-block:  0.1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.35 ease-in-out;
}

.content {
    padding-top: 4rem;
}

nav.navbar.scrolling {
    padding: min(2rem, 3.5rem);
    padding-block:  0.1rem;
    background-color: #111111;
}

nav.navbar a.navbar-brand {
    max-width: 150px;
    display: block;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 1.1rem;
    color: #fff !important;
    padding: 0 1.6rem;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
    opacity: 1;
}

span.navbar-text {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

.social-icon {
    display: flex;
}

.social-icon a {
    width: 2.625rem;
    height: 2.625rem;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 0.813rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
}

.social-icon a:last-child {
    margin-right: 0;
}

.social-icon a::before {
    content: "";
    width: 2.625rem;
    height: 2.625rem;
    position: absolute;
    background-color: #F4E4E4;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 50%;
    z-index: 1;
    transition: 0.35 ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}	

.resume-button {
    display: flex;
}

.resume-button a {
    font-weight: 700;
    display: inline-flex;
    border-radius: 1.875rem;
    margin-right: 0.375rem;
    align-items: center;
    padding: 0.438rem 0.625rem;
    justify-content: center;
    line-height: 1;
    border: 0.188rem solid rgba(78, 77, 77, 0.5);
    background-color: #fff;
    text-decoration: none;
}

.resume-button a:hover {
    background-color: #f3eeee;
}

.resume-button svg {
    margin-left: 0.5rem;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.resume-button:hover svg {
    margin-left: 1.25rem;
}

.navbar-text button {
    font-weight: 700;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: 0.063rem solid #fff;
    position: relative;
    background-color: transparent;
    padding: 0.625rem 0.938rem;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: #3c4147;
}

.navbar-text button:hover::before {
    width: 100%;
    position: absolute;
    height: 100%;
    content: "";
}

/* Banner CSS */

.banner {
    margin: 0;
    display: flex;
}

.banner-box {
    margin-inline: auto;
    width: 95%;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.banner h1 {
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 3.125rem;
    width: 90%;
}

.banner p {
    color: #B8B8B8;
    font-weight: 400;
    letter-spacing: 0.05rem;
    width: 80%;
}

.banner img {
    animation: updown 5s linear infinite;
    width: auto;
    max-width: 100%;
}

.banner img:hover {
    cursor: crosshair;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Skills CSS */

.skills {
    border: 2px solid green;
}

.skills-box {
    display: flex;
    padding-block: 2.5rem;
    margin-inline: auto;
    width: 95%;
}

.skills-box h2 {
    text-align: center;
}

.skill-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills p {
    letter-spacing: 0.05rem;
    line-height: 1.5em;
    text-align: center;
    margin: 1.25rem 0 0.313rem 0;
}

.skills-tree {
    padding: 1.25rem 0;
}
  
.skills-tree .row {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}
  
.skills-tree img {
    width: auto;
    max-width: 100%;
    border: 0.125rem solid rgb(194, 193, 193);
    background-color: var(--clr-primary-200);
    border-radius: 3.125rem;
    padding: 0.938rem;
}

.skills-tree img:hover {
    cursor: pointer;
    background-color: var(--clr-neutral-400);
}

/* Projects CSS */

.project-header {
    text-align: center;
    max-width: 80%;
    margin-inline: auto;
    padding-block: 2.5rem;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    color: var(--clr-primary-200) !important;
    background-image: url(./assets/img/app-project.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 0.5rem !important;
    overflow: hidden;
    transition: transform 300ms ease-in-out;
    border: 2px solid var(--clr-neutral-400) !important;
    margin-bottom: 1.5rem;
    margin-inline: auto;
}

.two {
    background-image: url(./assets/img/game-project.jpg);
    background-size: cover;
}

.three {
    background-image: url(./assets/img/ai-project.jpg);
    background-size: cover;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card p {
    padding: 0;
    font-size: 1rem;
    line-height: 1.5em;
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.4) 20%,
        hsl(0 0% 0% / 1)
    );
}

.card-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -4px;
    width: calc(100% + var(--padding));
    background: var(--clr-neutral-600);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255 255 255 / 0.85);
}

@media (hover) {
    .card-content {    
        transform: translateY(65%);
        transition: transform 300ms ease-in-out;
    }
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 300ms;
    }
    
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    
    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 300ms linear;
    }
    
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 500ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.card-butn {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-600);
    padding: 0.4em 0.3em;
    border-radius: 0.25em;
}

.card-butn:hover,
.card-butn:focus {
    background-color: var(--clr-neutral-400);
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}