/* Custom Fonts */
@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Kode Mono", monospace;
    src: url('./assets/fonts/KodeMono-Regular.ttf');
    font-weight: 400;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0, 50%);
    border-radius: 100vw;
    margin-block: .2em;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 1%, 73%);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 92%);
}

/* Default CSS */

:root {
    --clr-primary-200: #F3EBEB;
    --clr-primary-400: #F4E4E4;

    --clr-neutral-500: #FFF;
    --clr-neutral-700: #151516;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Kode Mono", monospace !important;
    font-weight: 400;
    font-size: 1.125rem;
    overflow-x: hidden;
    position: relative;
    background-color: #151516 !important;
    color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: normal;
}

section {
    padding: 2rem 0;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: normal;
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
button {
    border: 0;
    background-color: transparent;
}
  
input:focus, textarea:focus, select:focus {
    outline: none;
}
/* NavBar CSS */

nav.navbar {
    padding: 0.3rem 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.35 ease-in-out;
}

.content {
    padding-top: 4rem;
}

nav.navbar.scrolling {
    padding: 0.3rem 4rem;
    background-color: #111111;
}

nav.navbar a.navbar-brand {
    width: auto;
    max-width: 12%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-size: 1.1rem;
    color: #fff !important;
    padding: 0 1.6rem;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
    opacity: 1;
}

span.navbar-text {
    display: flex;
    align-items: center;
    gap: 0.938rem;
}

.social-icon {
    display: flex;
}

.social-icon a {
    width: 2.625rem;
    height: 2.625rem;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 0.813rem;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
}

.social-icon a:last-child {
    margin-right: 0;
}

.social-icon a::before {
    content: "";
    width: 2.625rem;
    height: 2.625rem;
    position: absolute;
    background-color: #F4E4E4;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 50%;
    z-index: 1;
    transition: 0.35 ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}	

.resume-button {
    display: flex;
}

.resume-button a {
    font-weight: 700;
    display: inline-flex;
    border-radius: 1.875rem;
    margin-right: 0.375rem;
    align-items: center;
    padding: 0.438rem 0.625rem;
    justify-content: center;
    line-height: 1;
    border: 0.188rem solid rgba(78, 77, 77, 0.5);
    background-color: #fff;
    text-decoration: none;
}

.resume-button a:hover {
    background-color: #f3eeee;
}

.resume-button svg {
    margin-left: 0.5rem;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.resume-button:hover svg {
    margin-left: 1.25rem;
}

.navbar-text button {
    font-weight: 700;
    color: #fff;
    transition: 0.3s ease-in-out;
    border: 0.063rem solid #fff;
    position: relative;
    background-color: transparent;
    padding: 0.625rem 0.938rem;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: #3c4147;
}

.navbar-text button:hover::before {
    width: 100%;
    position: absolute;
    height: 100%;
    content: "";
}

/* Banner CSS */

.banner {
    margin: 0;
    display: flex;
    border: 2px solid yellow;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.banner h1 {
    font-size: 3.438rem;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 3.125rem;
    display: block;
    width: 90%;
}

.banner p {
    color: #B8B8B8;
    font-weight: 400;
    letter-spacing: 0.05rem;
    width: 80%;
}

.banner img {
    animation: updown 5s linear infinite;
    width: auto;
    max-width: 100%;
}

.banner img:hover {
    cursor: crosshair;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Skills CSS */
.skills {
    border: 2px solid green;
}

.skills-container {
    padding: 3.75rem;
}

.skill-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container h2 {
    font-size: 2.813rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.skills p {
    letter-spacing: 0.05rem;
    line-height: 1.5em;
    text-align: center;
    margin: 1.25rem 0 0.313rem 0;
}

.skills-tree {
    padding: 1.25rem 0;
}
  
.skills-tree .row {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}
  
.skills-tree img {
    width: auto;
    max-width: 100%;
    border: 0.125rem solid rgb(194, 193, 193);
    background-color: #F3EBEB;
    border-radius: 3.125rem;
    padding: 0.938rem;
}

.skills-tree img:hover {
    cursor: pointer;
    background-color: #F4E4E4;
}

/* Projects CSS */

.project {
    position: relative;
    border: 2px solid red;
}

.project h2 {
    font-size: 2.813rem;
    font-weight: 700;
    text-align: center;
}

.project p {
    color: #B8B8B8;
    letter-spacing: 0.05rem;
    line-height: 1.5em;
    margin: 0.875rem auto 1.875rem auto;
    text-align: center;
    width: 56%;
}

.project .nav.nav-pills {
    width: 12%;
    margin: 0 auto;
    border-radius: 3.125rem;
    background-color: rgb(255 255 255 / 10%);
    overflow: hidden;
}

.project .nav.nav-pills .nav-item {
    width: 100%;
}

.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 1.063rem 0;
    color: #fff;
    width: 100%;
    letter-spacing: 0.05rem;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project-imgbox {
    position: relative;
    border-radius: 1.875rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.project-imgbox::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.project-imgbox:hover::before {
    height: 100%;
}

.project-info {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.project-imgbox:hover .project-info {
    top: 50%;
    opacity: 1;
}

.project-info h4 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    line-height: 1.1em;
}
 
.project-info span {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.05rem;
}  

/* Contact CSS */

.contact {
    border: 2px solid blue;
}

.contact img {
    width: 100%;
    background-color: transparent !important;
}

.contact h2 {
    font-size: 2.813rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
}

.contact form input, .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 0.063rem solid rgba(255, 255, 255, 0.5);
    border-radius: 1.25rem;
    color: #fff;
    margin: 0 0 0.5rem 0;
    padding: 1.125rem 1.625rem;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    transition: 0.3s ease-in-out;
}

.contact form input:focus, .contact form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    font-weight: 400;
    color: #fff;
}

.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
}

.contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 0.875rem 3rem;
    font-size: 1.125rem;
    margin-top: 1.563rem;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
}

.contact form button span {
    z-index: 1;
    position: relative;
}

.contact form button:hover {
    color: #fff;
}

.contact form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
    width: 100%;
}

@media (max-width: 992px) {

    nav.navbar {
        padding: 0 1.875rem;
    }

    nav.navbar.scrolling {
        padding: 0 1.875rem;
        background-color: #111111;
    }

    nav.navbar a.navbar-brand {
        width: auto; /* Adjust maximum width for logo */
        max-width: 20%;
    }

    nav.navbar .navbar-nav .nav-link.navbar-link {
        font-size: 1rem; /* Adjust font size */
        display: none;
    }
}

@media (max-width: 767.98px) {

    nav.navbar {
        padding: 0 1.25rem;
    }

    nav.navbar.scrolling {
        padding: 0 1.25rem;
        background-color: #111111;
    }

    nav.navbar a.navbar-brand {
        width: auto; /* Adjust maximum width for logo */
        max-width: 20%;
    }

    nav.navbar .navbar-nav .nav-link.navbar-link {
        display: none;
    }

    .social-icon a {
        width: 2rem;
        height: 2rem;
        background: rgba(217, 217, 217, 0.1);
        display: inline-flex;
        border-radius: 50%;
        margin-right: 0.375rem;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border: 0.063rem solid rgba(255, 255, 255, 0.5);
    }
    
    .navbar-text button {
        font-weight: 500;
        color: #fff;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        border: 0.063rem solid #fff;
        position: relative;
        background-color: transparent;
        padding: 0.5rem 0.5rem;
    }

    .resume-button a {
        font-weight: 500;
        display: inline-flex;
        border-radius: 30px;
        margin-right: 6px;
        align-items: center;
        padding: 0.375rem 0.375rem;
        justify-content: center;
        line-height: 1;
        border: 0.125rem solid rgba(78, 77, 77, 0.5);
        background-color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 469.98px) {
    
    nav.navbar {
        padding: 0 0.625rem;
    }

    nav.navbar.scrolling {
        padding: 0 0.625rem;
        background-color: #111111;
    }

    nav.navbar a.navbar-brand {
        width: auto; /* Adjust maximum width for logo */
        max-width: 30%;
    }

    nav.navbar .navbar-nav .nav-link.navbar-link {
        display: none;
    }

    .social-icon a {
        display: none;
    }

    .navbar-text button {
        font-weight: 500;
        color: #fff;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        border: 0.063rem solid #fff;
        position: relative;
        background-color: transparent;
        padding: 0.375rem 0.375rem;
    }
}